language: php

php:
    - 7.2
    - 7.3
    - 7.4
    - nightly

matrix:
    fast_finish: true
    allow_failures:
        - php: nightly

before_script:
  - composer update
  - composer install --dev --optimize-autoloader
  - mkdir -p tests/reports

script:
  - phpunit --verbose

after_script:
  - travis_retry php bin/php-coveralls -v -x tests/reports/clover.xml -o tests/reports/coveralls.json

cache:
  directories:
    - vendor
